button {
  background: RGBA(43, 150, 221, 1.00);
  color: white;
  border-radius: 10px;
  width: 100px;
  padding: 5px;
  margin: 0 auto;
  border: 3px solid RGBA(33, 126, 186, 1.00);
  font-size: 20px;
}
